body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 500px;
  height: 500px;
  background-color: white;
  margin: auto;
  border-radius: 25px;
}

.titolo-app {
  text-align: center;
  display: block;
}

.container p {
  display: block;
  text-align: center;
}

button {
  display: block;
  text-align: center;
  margin: auto;
  color: white;
  background-color: black;
  font-size: large;
  width: 150px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button:hover {
  color: black;
  background-color: white;
}

button:active {
  color: white;
  background-color: red;
}
#risultato {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 0;
  padding-top: 50px;
}
